# 最顶层的配置文件，发现设为true时，才会停止查找.editorconfig文件
root = true

[*]
# 编码格式
charset = utf-8
# 文件缩进大小
indent_size = 2
# 文件缩进类型
indent_style = space
# 文件以一个空白行结尾
insert_final_newline = true
# 去除换行行首的任意空白字符
trim_trailing_whitespace = true
#换行符lf
end_of_line = lf

[*.md]
trim_trailing_whitespace = false
